#contact_modal {
    display: none;
    margin-top: 10px;
}

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    height: 50px;
    margin-left: 100px;
    margin-top: 20px;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 313px;
    /* width: 1240px;  */
    margin: 0 100px;
}

.photograph-header section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.photograph-header section h2 {
    color: #D3573C;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    font-weight: 400;
    line-height: 83px;
    text-align: center;
    padding-left: 50px;
    margin-bottom: 16px;
    margin-top: 71px;
}

/* London, UK */
.photograph-header section .paragraphOne {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    color: #901C1C;
    padding-left: 50px;
    margin-top: 0;
    margin-bottom: 19px;
}

.paragraphTwo {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #525252;
    padding-left: 50px;
}

.photograph-header section img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-right: 50px;
    margin-top: 56px;
}

.photograph-header section img:hover, .photograph-header section img:focus {
    transform: scale(1.1);
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 69px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 26px;
}

.contact_button:hover, .contact_button:focus {
    background-color: #D3573C;
    color: #000;
}

/* MODAL */
.modal {
    position: fixed;
    border-radius: 5px;
    background-color: #DB8876;
    width: 25%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 35px;
    margin-top: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.modal header img {
    cursor: pointer;
    width: 34px;
}

.modal header h2 {
    font-size: 1.5rem;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 15px;
}

form {
    display: flex;
    width: 100%;
    height: 90%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 1.25rem;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
}

form input {
    width: 95%;
    height: 40px;
    border-radius: 5px;
    padding: .5rem;
    margin: 0 auto;
}

.message-error {
    display: none;
}

#message {
    border-radius: 5px;
}

.modal-close-btn {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 35px;
    margin-right: 30px;
    background-color: #DB8876;
    border: none;
}

.modal-close-btn img {
    height: 1.7rem;
}

/* DROPDOWN MENU STYLING*/
.filter {
    display: flex;
    padding-left: 100px;
    position: relative;
}

.trier-par {
    padding-right: 25px; 
}

.select {
    width: 139px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    border-radius: 5px 5px 5px 5px;
    color :#fff;
    cursor: pointer;
    background-color: #911C1C;
    transition: background-color 0.2s;
    margin-top: 9px;
}

.select:hover {
    background-color: #9d2f2f;
}

.selected {
    background-color: #911C1C;
    border: none;
    color: #fff;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
}

.arrow {
    padding-left: 26px;
    transition:  0.3s;
}

/* ROTATION IMPLEMENTE DANS LE downdropMenu.js */
.arrow-rotate {
transform: rotate(180deg);
}

.filter-options-container {
    width: 170px;
    height: 170px;
    /* border-radius: 5px; */
    background-color: #911C1C;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
}

.filter-option {
    padding: 1em;
    background-color: #911C1C;
    border: none;
    color: #fff;
    border-bottom: 1px solid #fff;
    /* border-radius: 5px; */
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    padding-left: 10px;
}

.filter-options-container > a {
    color: #fff;
    padding: 1em;
    cursor: pointer;
    text-decoration: none;
}

.filter-options-container>a:hover {
    background-color: #901C1C;
}

/* ACTIVE STYLE DANS LE dropdownMenu.js */
.active {
    background-color: #911C1C;
}
/* OPEN STYLE DANS LE JS */
.filter-options-container-open {
    display: flex;
    opacity: 1;
    position: absolute;
    border-top-right-radius: -5px;
    border-top-left-radius: -5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

}

/* DIVISION CONTENANT LES PHOTOS */

.globalPhotos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 58px;
    padding-left: 32px;
}

.globalPhotos article {
    width: 30%;
    border-radius: 5px;
}

.globalPhotos article img {
    border-radius: 5px;
}

.h3-photo {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 31px;
    color: #911C1C;
    margin-top: 10px;
}

.isItYou {
    width: fit-content;
}

.photoOuVideo {
    object-fit: cover;
    border-radius: 5px;
}

/* PARAGRAPH NBRE LIKES */
.paragraph-icon {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 31px;
    text-align: right;

    color: #911C1C;
}

.heart-link {
    background-color: #fff;
    border: none;
}

.fa-heart {
    color: #911C1C;
    font-size: 20px;
}

/* DIV DU BAS DE PAGE POUR NOMBRE TOTAL DE LIKES */
.bottomHeart {
    width: 376px;
    height: 89px;
    background-color: #DB8876;
    border-radius: 5px;
    color: #000;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 36px;
    transform: translateY(21px);
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.count-likes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 31px;
}

.tarif-jour {
    padding-right: 31px;
}

/* *********** LIGHT BOX *********** */
.lightbox {
    position: fixed;
    width: 100vw; 
    height: 100vh; 
    background: rgba(255,255,255, .9);
    top: 0;
    left: 0;
    text-align: center;
    display: none;
}

.lightbox.show {
    display: block;
    text-align: center;
}

.content {
    display: flex;
    align-items: center;
    width: 85%;
    height: 85%;
    background-color: rgba(255,255,255, 1);
    border: 1px solid black;
    transform: translate(10%, 10%);
}

.carrouselImage {
    height: 100%;
    width: 100%;
}

.carrouselImage img {
    max-width: 100%;
    height: 92%;
    object-fit: cover;
} 

.carrouselImage a {
    text-decoration: none;
}

.carrousel video {
    max-width: 100%;

        height: 92%;
        object-fit: cover;
}

.titleImage{
    font-size: 1rem;
    color: #000;
    text-decoration: none;
    margin: 0;
}

.previous, .next, .closeLightbox {
    height: 50px;
    width: 50px;
    background-color: rgba(255,255,255, 0);
    border: none;
}

.fas {
    font-size: 3em;
    color: #911C1C;
}

.closeLightbox {
    font-size: 2em;
    color: #911C1C;

}

.divRightButton {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.divCloseButton, .divInterneRightButton {
    width: 50%;
} 

.divCloseButton {
    position: absolute;
    top: 4px;
    right: 26px;
    font-size: 1.5rem;
    color: #911C1C;
}

